<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <header>
      {% if page.url contains "-cn." %}
      <h1><a style="color: #EEEEEE;" href="/README-cn">区块大小升级方案</a></h1>
      <p>选择区块大小升级方案的指南</p>
      {% else %}
      <h1><a style="color: #EEEEEE;" href="/">Blocksize Proposals</a></h1>
      <p>A guide to chosing your blocksize upgrade.</p>
      {% endif %}
    </header>
    <div id="banner">
      {% if page.url == "/README-cn.html" %}
        <a href="/"><span class="fork" style="padding: 8px 10px 6px;border: 1px solid #dba500;"><img alt="English" src="/en.png"/></span></a>
      {% elsif page.url contains "-cn.html" %}
        <a href="{{page.url | remove: "-cn"}}"><span class="fork" style="padding: 8px 10px 6px;border: 1px solid #dba500;"><img alt="English" src="/en.png"/></span></a>
        <a href="/README-cn" class="button"><strong>&lt;开始</strong></a>
      {% elsif page.url == "/" %}
        <a href="README-cn"><span class="fork" style="padding: 6px 10px 4px;border: 1px solid #dba500;"><img alt="中文" src="/cn.png"/></span></a>
      {% else %}
        <!-- a href="{{page.url | remove: ".html"}}-cn.html"><span class="fork" style="padding: 6px 10px 4px;border: 1px solid #dba500;"><img alt="中文" src="/cn.png"/></span></a -->
        <a href="/" class="button"><strong>&lt;Start Page</strong></a>
      {% endif %}
      <a href="{{ site.github.repository_url }}"><span id="logo"></span></a>
    </div>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>All content is licensed under <a href="LICENSE">GPL v3</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <!--{{ page.url }} -->
  </body>
</html>
